{% extends "templates/web.html" %}

{% block title %} Payment {% endblock %}

{% block script %}
<script>
	{% include "templates/includes/integrations/authorizenet_checkout.js" %}
</script>
<script>
	const context = {{ payment_context | json }};
</script>
{% endblock %}

{%- block page_content -%}

<div class="authorizenet">
	<div class="col-md-12">
		<h2 class="text-center">{{ description }}</h2>
		<div id="please-wait">
			Loading...
		</div>

		<form id="payment-form">
			<div class="form-row row">

				<div class="col-md-8 col-sm-12">
					<div class="group row">
						<div class="col-md-4 col-sm-6">
							<label>{{ _("Card Holder Name") }}</label>
						</div>
						<div class="col-md-8 col-sm-6 pl-0 pr-0">
							<input id="cardholder-name" name="cardholder-name" class="field w-100" placeholder="{{ _('John Doe') }}" data-lpignore="true"/>
						</div>
					</div>

					<div class="group row">
						<div class="col-md-4 col-sm-6">
							<label>{{ _("Email") }}</label>
						</div>
						<div class="col-md-8 col-sm-6 pl-0 pr-0">
							<input id="cardholder-email" name="cardholder-email" class="field w-100" placeholder="{{ _('john@doe.com') }}" data-lpignore="true"/>
						</div>
					</div>

					<div class="group row card-details">
						<div class="col-md-4 col-sm-6">
							<label>{{ _("Card Number") }}</label>
						</div>
						<div class="col-md-8 col-sm-6 p-0">
							<input data-validation="digit" type="text" id="card-number" name="card-number" class="field" maxlength="19" placeholder="{{ _('XXXX XXXX XXXX XXXX') }}"  data-lpignore="true"/>
						</div>
					</div>
					<div class="group row card-details">
						<div class="col-md-4 col-sm-6">
							<label>{{ _("Card Expiry") }}</label>
						</div>
						<div class="p-0">
							<input data-validation="digit" type="text" id="card-expiry-month" name="card-expiry-month" class="field" maxlength="2"
								placeholder="{{ _('MM') }}" data-lpignore="true"/>
							<input data-validation="digit" type="text" id="card-expiry-year" name="card-expiry-year" class="field" maxlength="4"
								placeholder="{{ _('YYYY') }}" data-lpignore="true"/>
						</div>
					</div>
					<div class="group row card-details">
						<div class="col-md-4 col-sm-6">
							<label>{{ _("Card Code") }}</label>
						</div>
						<div class="col-md-8 col-sm-6 p-0">
							<input type="password" id="card-code" maxlength="4" name="card-code" class="field"
								placeholder="{{ _('***') }}" data-lpignore="true"/>
						</div>

					</div>

				</div>
				<div class="col-md-8 col-sm-12 submit_row">
					<div class="row">
					<button type="submit" class="submit" id="submit">{{_('Pay')}} {{ amount }}</button>
				</div>
				</div>
			</div>
		</form>
	</div>
</div>


{% endblock %}
