<!-- <div>
	<li>{{ doc.warehouse }}</li>
</div> -->
<!-- this is a sample default list template -->
<html>
<head>
<style>
.parent {
  display: flex;
  flex-wrap: wrap;
}

.child {
  flex: 1 0 21%; /* explanation below */
  margin: 5px;
  height: 10px;
}

.result {
	display: flex;
    flex-direction: column;
}
</style>
</head>
<div class="web-list-item mb-3">
	<div class="parent">
		<div class="child">{{ doc.warehouse }}</div>
		<div class="child">{{ doc.item_name }}</div>
		<div class="child">{{ doc.stock_uom }}</div>
		<div class="child">{{ doc.actual_qty }}</div>
	</div>
</div>
</html>

